{
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "max-len": [1, 220, 2, { "ignoreComments": true }],
    "react/prop-types": [2],
    "linebreak-style": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:react/recommended"]
}
